<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>

    <link rel="icon" href="img/favicon.png" type="image/png" />
</head>

<body>
    {% extends "navbar.html"%}

    {% block body %}






    <div class="container mt-5 mb-5 border border-secondary rounded">
        <div class="row centro">
            <div class="col-sm-3">
                <div class="">
                    <h2>Categorias</h2>
                    <a class="btn btn-secondary mt-5" style="width: 100%;" href="/Catalogo">Todos Los Productos</a>
                    {% for cat in categorias %}
                    <a class="btn btn-secondary" style="width: 100%;" href="/Catalogo/{{cat[0]}}">{{cat[1]}}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-9">
                <h2>Productos</h2>
                <div class="row row-cols-4">

                    {% for p in productos %}

                    <div class="col-sm mb-4 ml-4 mr-4 mt-5">
                        <div class="container cuadro" style="width: 200px;">
                            <img src="{{ url_for('static', filename='productos/'+p[6])}}" style="height: 150px;" alt="">
                            <h2>{{p[2]}}</h2>
                            <h3>{{p[5]}}</h3>
                            <a class="btn btn-info" href="/Producto/{{p[0]}}">Ver Mas</a>
                        </div>
                    </div>
                
                {% endfor %}
            </div>
            </div>
        </div>
    </div>

    {% endblock %}
</body>

</html>