<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="icon" href="img/favicon.png" type="image/png" />
</head>

<body>
    {% extends "navbar.html" %}

        {% block body %}

    <div class="container mt-5 mb-5">

        <div class="row">
        
        <div class="col-6">
            <a href="/" class="btn btn-secondary" style="width: 100%;">index</a>
            <a href="" class="btn btn-secondary" style="width: 100%;">Registrar Categoria</a>
            <a href="" class="btn btn-secondary" style="width: 100%;">Modificar Empresa</a>
            <a href="" class="btn btn-secondary" style="width: 100%;">Usuarios</a>
        </div>
        <div class="col-6">
        <form action="/RegistrarProducto_Subida" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <div class="form-group">

                    <label for="name">Nombre: </label> <input type="text" name="name">
                </div>
                <div class="form-group">

                    <label for="referencia">Referencia: </label> <input type="text" name="referencia" id="">
                </div>
                <div class="form-group">

                    <label for="descripcion">Descripcion</label> <input type="text" name="descripcion" id=""></input>
                </div>
                <div class="form-group">

                    <label for="Detalle">Detalle:</label> <input type="text" name="detalle" id=""></input>
                </div>
                <div class="form-group">

                    <label for="valor">Valor: </label> <input type="number" name="valor">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Categoria</label>
                    <select class="form-control" name="categ" id="exampleFormControlSelect1">
                        {% for cat in categorias %}
                        <option value="{{ cat[0] }}">{{ cat[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <label for="imagen">Imagen</label>
                <input type="file" name="imagen">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        </div>
    </div>


    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for p in productos %}
        <tr>
            <th>{{p[0]}}</th>
            <th>{{p[2]}}</th>
            <th>{{p[3]}}</th>
            <th>{{p[5]}}</th>
            <th>{{p[7]}}</th>
            <th><a href="/Editar/{{p[0]}}" class="btn btn-info">Editar</a> <a href="/Eliminar/{{p[0]}}" class="btn btn-danger">Eliminar</a></th>
        </tr>
        {% endfor %}
    </table>
</tbody>

    {% endblock %}}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>